<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <servlet>
    <servlet-name>datastore</servlet-name>
    <servlet-class>cs263w16.DatastoreServlet</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>datastore</servlet-name>
    <url-pattern>/datastore</url-pattern>
   </servlet-mapping>

   <servlet>
    <servlet-name>courseenqueue</servlet-name>
    <servlet-class>course.CourseEnqueue</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>courseenqueue</servlet-name>
    <url-pattern>/courseenqueue</url-pattern>
   </servlet-mapping>


   <servlet>
    <servlet-name>courseworker</servlet-name>
    <servlet-class>course.CourseWorker</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>courseworker</servlet-name>
    <url-pattern>/courseworker</url-pattern>
   </servlet-mapping>

   <servlet>
    <servlet-name>studentenqueue</servlet-name>
    <servlet-class>student.StudentEnqueue</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>studentenqueue</servlet-name>
    <url-pattern>/studentenqueue</url-pattern>
   </servlet-mapping>

   <servlet>
    <servlet-name>instructorenqueue</servlet-name>
    <servlet-class>instructor.InstructorEnqueue</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>instructorenqueue</servlet-name>
    <url-pattern>/instructorenqueue</url-pattern>
   </servlet-mapping>

   <servlet>
    <servlet-name>addinstructor</servlet-name>
    <servlet-class>instructor.AddInstructor</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>addinstructor</servlet-name>
    <url-pattern>/addinstructor</url-pattern>
   </servlet-mapping>

   <servlet>
    <servlet-name>deleteinstructor</servlet-name>
    <servlet-class>instructor.DeleteInstructor</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>deleteinstructor</servlet-name>
    <url-pattern>/deleteinstructor</url-pattern>
   </servlet-mapping>

  <servlet>
    <servlet-name>enqueue</servlet-name>
    <servlet-class>cs263w16.Enqueue</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>enqueue</servlet-name>
    <url-pattern>/enqueue</url-pattern>
   </servlet-mapping>

   <servlet>
    <servlet-name>studentworker</servlet-name>
    <servlet-class>student.StudentWorker</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>studentworker</servlet-name>
    <url-pattern>/studentworker</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>instructorworker</servlet-name>
    <servlet-class>instructor.InstructorWorker</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>instructorworker</servlet-name>
    <url-pattern>/instructorworker</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

   <servlet>
  <servlet-name>Jersey REST Service</servlet-name>
  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  <!-- Register resources and providers under com.vogella.jersey.first package. -->
  <init-param>
   <param-name>jersey.config.server.provider.packages</param-name>
   <param-value>student</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Jersey REST Service</servlet-name>
  <url-pattern>/rest/*</url-pattern>
 </servlet-mapping>

</web-app>
